@charset "utf-8";
body{
    font-family: arial;
    margin: 0px;
    background: #0cb81b9a;
    display: grid;
    gap: 60px;
    justify-items: center;
    margin-top: 60px;
    
}
img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

p,h1,h2,h3{
    margin: 0px;

}
p{
    font-size: 20px;
    line-height: 1.3;
}
.menu{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.menu a{
    background:#ffffff;
    padding: 15px 30px;
    border-radius: 4px;
    color: #000000;
}

.conteudo{
    display: grid;
    grid-template-columns:1fr 1fr ;
    max-width: 1000px;
}

.introducao{
    background: #FFFFFF;
    padding: 40px;
    text-align: right;
    position: relative;
    display: grid;
    align-content: center;
    gap: 20px;
    justify-items: end;
}

.detalhe{
    width: 60px;
    height: 4px;
    background: red;
    
    position: absolute;
    
}
.botao{
    background: red;
    color: #FFFFFF;
    padding: 15px 30px;
    border-radius: 4px;

}
.subtitulo{
    font-size: 64px;
    color: rgb(0,0,0,0.2);
    text-align: right;
    padding: 40px;
    align-self: center;
    text-transform: uppercase;
}
.vantagens{
    background: #ffffff;
    padding: 40px;

}
.vantagens-item{
    display: grid;
    grid-template-columns: auto 1fr;
    gap:  10px 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 20px;
}
.vantagens-item p{
    grid-column: 2;
}
.rodape{
    background: rgb(250, 250, 255);
    width: 100%;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
}